.cell {
    background-color: #6495ed;
  }

.cell_IR {
    background-color: #f08080;
  }
.cell_pro {
    background-color: #40e0d0;
}
html, body {
  height: 100%;
  margin: 0;
}
header {
  background-color: #1aaedb;
  border-bottom: #ead963 6px solid;
}
.container {
  padding: 16px;
  padding-left: 120px;
}
header h1,
header h2 {
  margin: 0;
  color: #fff;
  line-height: 1;
}
header h1 {
  padding: 30px 0 5px 0;
  font-size: 24px;
  border-bottom: 1px dotted #fff;
  font-weight: 500;
}
header h2 {
  padding: 6px 0 0 0;
  font-size: 14px;
  font-weight: 400;
}
table, th, td {
  border-collapse: collapse;
  border:1px  solid #333;
}
